.btn40 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  margin: 10px 10px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fbe0dc;
}

.btn40:hover {
  color: #fff;
  background: #ff868e;
  .svg {
    fill: #fff;
  }
}

.btn60 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background: #fff;
  flex-shrink: 0;
}

.btn60:hover {
  background: #fbe0dc;
}

.active {
  color: #fff;
  pointer-events: none;
  background: #ff868e;
  .svg {
    fill: #fff;
  }
}
.active:hover {
  .svg {
    fill: #ff868e;
  }
}

.primary,
.upload {
  text-align: center;
  margin: 10px 0;
  min-width: 156px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  color: #fff;
  background: rgba(255, 134, 142, 1);
  line-height: 40px; /* 150% */
}

.foto {
  display: flex;
  margin: 12px 0;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #fff;
  background: rgba(255, 134, 142, 1);
  height: 40px;
  min-width: 156px;
}

.upload:hover,
.foto:hover {
  color: rgba(255, 134, 142, 1);
  background: #fbe0dc;
}
.active:hover {
  color: #fff;
  background: rgba(255, 134, 142, 1);
}
.m_none {
  margin: 0;
  color: rgba(255, 134, 142, 1);
  background-color: #fff;
}

.primary p {
  line-height: 20px; /* 150% */
  vertical-align: middle;
  display: inline-block;
  color: #fff;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
}

.secondary {
  text-align: center;
  color: #ff868e;
  margin: 10px 0;
  min-width: 143px;
  height: 40px;
  line-height: 40px; /* 150% */
  flex-shrink: 0;
  border-radius: 10px;
  background: #fbe0dc;
}

.secondary:hover {
  color: #fff;
  background: #ff868e;
  .svg {
    fill: #fff;
  }
}

.secondary p {
  vertical-align: middle;
  display: inline-block;

  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 2px;
}

.secondary svg {
  width: 15.766px;

  height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 12px;
  fill: #ff868e;
}
